<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="image-responsive img-thumbnail">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Recip Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">To shopping list</a></li>
        <li><a href="javascript:;">Edit recipe</a></li>
        <li><a href="javascript:;">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>