<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }} image" class="image-responsive img-thumbnail" style="max-height: 20em;">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">To shopping list</a></li>
        <li><a href="javascript:;">Edit recipe</a></li>
        <li><a href="javascript:;">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingredients:
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }}</li>
    </ul>
  </div>
</div>