<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }} image" class="image-responsive img-thumbnail" style="max-height: 20em;">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <ul style="padding: 0;">
        <li class="btn btn-primary dropdown-toggle" appDropdown>
          Manage recipe <span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onAddtoShoppingList()" style="cursor: pointer;">To shopping list</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit recipe</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete recipe</a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Ingredients:
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} <span class="badge text-bg-dark">{{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
</div>