<div class="col">
  <div class="col-md-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" formControlName="name" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label for="imagePath">Image Url</label>
          <input type="text" id="imagePath" name="imagePath" formControlName="imagePath" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <img [src]="" alt=" image" class="image-responsive img-thumbnail" style="max-height: 20em;">
        </div>
        <div class="col-md-12 form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" formControlName="description" rows="6"></textarea>
        </div>
      </div>
      <div class="row" formArrayName="ingredients" style="margin-top: 5px; margin-bottom: 5px;">
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;" [formGroupName]="i" *ngFor="let ingredientCtrl of controls; let i = index">
          <div class="col-md-8">
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" required min="1" step="1" pattern="^\d*" formControlName="amount">
          </div>
          <div class="col-md-1">
            <button class="btn btn-danger" type="button">X</button>
          </div>
        </div>
        <hr style="margin-top: 5px;">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>